@import url('https://fonts.googleapis.com/css?family=IBM+Plex+Mono:600');
    p {
      font-family: verdana;
      font-size: 18;    }
    h1 {
      font-family: 'IBM Plex Mono', monospace;
      color: #c4c4c4;
      font-size: 44px;
    }
 p.center {
      font-family: verdana;
      font-size: 18;
      text-align: center;
    }
    h1.center {
      font-family: 'Concert One', cursive;
      color: #c4c4c4;
      text-align: center;
      font-size: 44px;
    }
    h4 {
      font-family: verdana;
      text-align: center;
      }
  body {
    background: url("https://2d4u.github.io/zwissy/backdrops/rickandmorty_wallpaper.jpg") no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  }
mark {
    background-color: white;
    color: black;
} 
.textbox {
    width: 4000;
  height: 75%;
  padding: 0px;
  margin: auto;
  border-radius: 3px;
  border: 0px solid #111111;
  background-color: rgba(173, 173, 173, 0.65);
}
      a.button {
  color: #424242;
  text-decoration: none;
  transition-duration: 0.4s;
  text-decoration: none;
  
}
a.button:hover {
  color: white;
  text-decoration: underline;
  font-size: 20px;
  text-decoration: none;
      }
a {
  color: #424242;   
  text-decoration: none;
}
a:hover {
  color: white;
}
h3 {
      font-family: verdana;
      color: gray;
}  
.center {
    text-align: center;
}
